*  { 
	margin:   0; 
	padding: 0;
	border: 0;

}

span {
	color: green;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
    min-height: 100%;
    height:100%;
}

#input {
    border-style: solid;
    border-width: 1px;
}

#errorText {
    color: red;
}

#continueText {
    visibility: hidden;
}

.titleBox {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

    .title {
        text-align: center;
        font-size:3vmin;
    }

#gameBox {
    width: 100%;
    height: 55%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

    #gridBox {
        width: 90%;
        height:100%;
    }

        .gridBoxElement {
            width: 50px;
            height: 50px;
            background-color: black;
            border-style: solid;
            border-width: 1px;
        }

    #playerBox {
        width: 10%;
        height: 100%;
        background-color: bisque;
        text-align: center;
        font-size:2vmin;
    }

#timerBox {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

#optionBox {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;

}
    .playerOption {
        width: 23%;
        height: 43%;
        margin: 10px;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }

        .playerOption .titleWrapper {
            height: 20%;
            display: flex;
            justify-content:space-evenly;
            align-items:center;
            margin-bottom: 10px;
        }

        .playerOption .title {
            font-size:2.5vmin;
        }

        .cardBox {
            height: 80%;
            display: flex;
            justify-content:space-evenly;
            align-items:center;
        }

            .card {
                width: 35%;
                height: 90%;
                background-color: white;
                display: flex;
                justify-content:center;
                align-items:center;
                text-align: center;
                border-style: solid;
                border-width: 1px;
            }

            .cardSelected {
                border-style: solid;
                border-width: 1px;
                border-color: red;
            }

            .cardUsed {
                 background-color: black;
            }

            .card:hover {
                border-width: 5px;
                cursor: pointer;
            }

                .card p {
                    font-size:1.5vmin;
                    cursor: pointer;
                    user-select: none;
                }

                @media screen and (max-width: 600px) {
                    .card p {
                        color: transparent;
                    }
                }

        .playerOption button {
            width: 30%;
            border-width: 5px;
        }

        .playerOption button:hover {
            border-width: 5px;
            cursor: pointer;
        }

.centerBox {
    width:100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
